.object-card {
  // title
  &_addr {
    margin-top: 20px;
    display: flex;
    align-items: center;

    &-text {
      margin-right: 20px;
    }
  }
  &_zaf {
    margin-top: 20px;
  }

  // information
  &_inf {
    margin-top: 30px;

    &-row1 {
      padding: 10px 30px;
      border-radius: 10px;
      background-color: var(--white);
      display: flex;
      align-items: center;

      @include for-small-laptop {
        padding: 10px 20px;
      }

      @include for-tablet {
        margin-top: 20px;
      }

      @include for-mobile {
        padding: 10px;
      }
    }

    &-divider {
      width: 1px;
      height: 63px;
      margin: 0 23px 0 20px;
      background-color: var(--gray-divider);

      @include for-small-laptop {
        margin: 0 10px;
      }

      @include for-big-tablet {
        margin: 0 20px;
      }

      @include for-mobile {
        margin: 0 10px;
      }
    }

    &-size {
      display: flex;
      align-items: center;

      &-icon {
        padding: 2px 5px 5px;
        margin-right: 12px;
        border: 1.5px solid var(--black);
        border-radius: 3px;
      }
    }

    &-row2 {
      min-height: 438px;
      margin-top: 30px;
      padding: 30px;
      border-radius: 10px;
      background-color: var(--white);

      @include for-big-tablet {
        min-height: auto;
        margin-top: 20px;
      }
    }

    &-data {
      // height: 100%;
      overflow: hidden;

      &-title {
        color: var(--gray-input);
        margin-bottom: 20px;
      }

      &-name {
        margin-bottom: 20px;
      }

      &-btn {
        margin-top: 30px;
      }
    }
  }

  // sale
  &_sale {
    margin-top: 20px;
    
    &-item {
      padding: 30px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      color: var(--white);
      border-radius: 10px;

      &-1 {
        gap: 15px;
        background-image: url('../../../../assets/images/object-card/sale-1.svg');
        border-bottom: 5px solid var(--green);
      }
      &-2 {
        background-image: url('../../../../assets/images/object-card/sale-2.svg');
        border-bottom: 5px solid var(--blue);
      }
      &-3 {
        margin-top: 20px;
        background-image: url('../../../../assets/images/object-card/sale-3.svg');
        border-bottom: 5px solid var(--yellow);

        @include for-big-tablet {
          margin-top: 0;
        }
      }
      &-4 {
        margin-top: 20px;
        background-image: url('../../../../assets/images/object-card/sale-4.svg');
        border-bottom: 5px solid var(--red);

        @include for-big-tablet {
          margin-top: 0;
        }
      }

      @include for-big-tablet {
        margin-top: 20px;
      }
    }

    &-title {
      max-width: 277px;
    }

    &-deadline {
      margin-top: 11px;
    }

    &-text {
      margin-top: 15px;

      @include for-small-tablet {
        width: 272px;
      }
    }

    &-link {
      margin-top: 16px;
      display: flex;
      justify-content: end;
    }
    &-link > a {
      color: var(--orange);

      &:hover {
        text-decoration: underline;
      }
    }

    &-video {
      height: 389px;
      border-radius: 10px;

      @include for-big-tablet {
        margin-top: 20px;
        height: 238px;
      }
    }
    &-img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }

    @include for-big-tablet {
      margin-top: 0;
    }
  }

  // filter
  &_filter {
    margin-top: 40px;
  }

  // corpuse
  &_corpuse {

    &-title {
      display: flex;
      justify-content: space-between;
    }
  }
  &_type {
    margin-top: 20px;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--white);

    &-accordion {

      &-header {
        padding: 20px 0;

        &:is(.collapsed) > .object-card_type-accordion-header-btn {
          color: var(--orange);
          background-image: url(../../../../assets/images/icons/arrow-orange.svg);
          background-repeat: no-repeat;
          background-position: 100% center;
        }
        &:not(.collapsed) > .object-card_type-accordion-header-title {
          color: var(--blue);
        }

        &-center {
          @include for-small-tablet {
            margin-top: 15px;
          }
        }
        
        &-btn {
          display: flex;
          justify-content: end;
          background-image: url(../../../../assets/images/icons/arrow-top.svg);
          background-repeat: no-repeat;
          background-position: 100% center;
          cursor: pointer;
  
          &:hover {
            color: var(--orange);
            background-image: url(../../../../assets/images/icons/arrow-orange.svg);
            background-repeat: no-repeat;
            background-position: 100% center;
          }
  
          @include for-small-tablet {
            position: absolute;
            right: 30px;
          }
        }
      }
    }
    // Type list
    &-list {

      &-body {
        margin-top: 30px;
        padding-bottom: 16px;
        display: flex;
        align-items: center;

        &-column {
          display: flex;
          align-items: center;

          @include for-big-tablet {
            display: block;
            margin-right: 30px;
          }

          @include for-mobile {
            margin-right: 10px;
          }
        }

        &-center {
          display: flex;
          align-items: center;
         
          @include for-big-tablet {
            margin-top: 20px;
          }

          @include for-tablet {
            align-items: start;
          }

          &-f {
            display: flex;
            align-items: center;

            @include for-tablet {
              align-items: start;
            }
          }
        }

        &-number {
          margin-right: 37px;
  
          @include for-small-laptop {
            margin-right: 30px;
          }
        }

        &-img {
          width: 79px;
          height: 62px;
          margin-right: 40px;
          border: 1px solid var(--gray);
          border-radius: 10px;
  
          @include for-small-laptop {
            margin-right: 30px;
          }
  
          @include for-big-tablet {
            margin-top: 20px;
            margin-right: 0;
          }
        }

        &-subtitle {
          margin-bottom: 10px;
          color: var(--gray-input);
        }

        &-item {
          margin-right: 55px;
  
          @include for-small-laptop {
            margin-right: 30px;
          }
  
          @include for-big-tablet {
            width: 150px;
            margin-right: 0;
          }
  
          @include for-tablet {
            width: 100px;
            margin-right: 30px;
          }
  
          @include for-small-tablet {
            width: 83px;
            margin-right: 20px;
          }
          
          @include for-mobile {
            width: 75px;
            margin-right: 10px;
          }
        }
        
        &-status {
          margin-right: 40px;
  
          @include for-small-laptop {
            margin-right: 30px;
          }
  
          @include for-big-tablet {
            margin-right: 0;
          }
        }
        
        &-heart {
          width: 20px;
          height: 20px;
          background-image: url(../../../../assets/images/icons/heart.svg);
          background-repeat: no-repeat;
          background-position: center;
  
          &:hover,
          &:is(.active) {
            width: 20px;
            height: 20px;
            background-image: url(../../../../assets/images/icons/heart-active.svg);
            background-repeat: no-repeat;
            background-position: center;
          }
        }

        @include for-big-tablet {
          align-items: start;
          justify-content: space-between;
          border-bottom: 1px dashed var(--gray);

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }

    // Type tile
    &-tile {
      display: flex;
      max-width: 100%;
      overflow-x: auto;

      &-item {
        min-width: 282px;
        height: 401px;
        margin: 30px 30px 0 0;
        padding: 20px;
        border: 1px solid var(--gray);
        border-radius: 10px;

        &-head {
          display: flex;
          align-items: start;
          justify-content: space-between;
        }

        &-body {
          margin-top: 10px;

          &-subtitle {
            margin-top: 10px;
            color: var(--gray-input);
          }

          &-text {
            margin-top: 10px;
          }

          &-cost {
            margin-top: 20px;
          }

          &-costm2 {
            margin-top: 9px;
          }

          &-number {
            margin-top: 15px;
            color: var(--gray-input);
          }
        }
      }
    }

    // Type chess
    &-chess {
      display: flex;
      max-width: 100%;
      overflow: auto;
      
      &-number {
        color: var(--gray-input);
      }
      
      &-section {
        width: 590px !important;
        margin: 0 19px 0 25px;
        flex-wrap: wrap;
        
        &-row {
          min-height: 93px;
          display: flex;
          position: relative;
          
          &-subtitle {
            writing-mode: vertical-rl;
            transform: rotate(-180deg);
            color: var(--gray-input);
            position: absolute;
            top: 30px;
            left: -19px;
          }
        }
      }
      
      &-item {
        min-width: 65px;
        width: 100%;
        height: 93px;
        padding: 10px 9px;
        margin: 10px 10px 0 0;
        border: 1px solid var(--gray);
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        
        &:is(.bron) {
          border: 1px solid var(--yellow);
          background-color: var(--yellow);
        }
        
        &:is(.active) {
          border: 1px solid var(--orange);
          background-color: var(--orange);
        }
        &:is(.active) > div {
          color: var(--white);
        }
        
        &:last-child {
          margin-right: 0;
        }
        
        &-costm2 {
          &-big {
            position: absolute;
            top: 10px;
            right: 10px;
          }
        }
        
        &-text {
          &-big {
            margin-top: 10px;
          }
          
          &-small {
            margin-top: 5px;
          }
        }
      }
    }
    
    &-parent {
      position: relative;
      
      &-gradient {
        width: 98px;
        height: 100%;
        position: absolute;
        top: 0;
        right: -10px;
        background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0.7) 25%, var(--white) 75%);

        @include for-big-tablet {
          display: none;
        }
      }
    }

    @include for-tablet {
      margin-top: 15px;
      padding: 20px;
    }
  }

  // fre-info
  &_free-info {
    margin-top: 20px;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--white);

    &-head {
      padding-bottom: 20px;
      border-bottom: 1px solid var(--gray);

      @include for-laptop {
        display: none;
      }
    }

    &-items {
      padding: 20px 0;
      border-bottom: 1px solid var(--gray);

      &:last-child {
        border-bottom: none;
      }

      @include for-laptop {
        padding: 0 0 20px 0;
      }

    }

    &-column {
      @include for-laptop {
        margin-top: 20px;
      }
    }

    &-subtitle {
      color: var(--gray-input);
      
      &-item {
        margin-bottom: 10px;
        color: var(--gray-input);
        display: none;

        @include for-laptop {
          display: block;
        }
      }
    }

    &-corpus {
      width: 47px;
    }
    &-queue {
      width: 57px;
    }
    &-deadline {
      width: 80px;
    }
    &-cl {
      width: 92px;
    }
    &-floor {
      width: 43px;
    }
    &-room {
      width: 79px;
    }
    &-cost {
      width: 97px;
    }
    &-type {
      width: 93px;
    }
    &-park {
      width: 85px;
    }
    &-terri {
      width: 77px;
    }
    &-tcorpus {
      width: 87px;
    }
    &-sek {
      text-align: center;

      @include for-laptop {
        text-align-last: left;
      }
    }

    &-title {
      margin: 10px 0 20px;
    }

    &-types {
      // max-width: 1144px;
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(8, 1fr);

      &-item {
        text-align: center;
        grid-column: span 1;

        &-long {
          width: 160px;
          margin: 0 30px;

          @include for-laptop {
            width: auto;
            margin: 0;
          }
        }

        @include for-small-laptop {
          margin-top: 20px;
          text-align: left;
          grid-column: span 2;
        }

        @include for-tablet {
          grid-column: span 4;
        }
      }
    }

    @include for-laptop {
      padding: 10px 30px 30px;
    }

    @include for-tablet {
      margin-top: 15px;
      padding: 0 20px 20px;
    }
  }

  // finish 
  &_finish {
    margin-top: 30px;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--white);

    &-title {
      @include for-tablet {
        margin-top: 20px;
      }
    }

    &-subtitle {
      margin: 30px 0;

      @include for-big-tablet {
        margin: 20px 0;
      }
    }

    &-cost {
      margin: 30px 0 6px;
      padding: 6px 10px 7px 12px;
      border: none;
      border-radius: 10px;
      color: var(--white);
      background-color: var(--green);

      @include for-big-tablet {
        margin: 20px 0 0;
      }
    }

    &-list {
      margin-top: 24px;
      display: flex;
      align-items: center;

      &::before {
        content: ' ';
        width: 2px;
        height: 10px;
        display: block;
        margin-right: 10px;
        border-radius: 7px;
        background-color: var(--black);
      }

      @include for-big-tablet {
        margin-top: 20px;
      }
    }

    @include for-big-tablet {
      margin-top: 20px;
      padding: 20px;
    }
  }

  // 3d tur
  &_3dtur {

    &-img {
      max-width: 625px;
      max-height: 313px;
      margin-top: 20px;
      border-radius: 10px;

      @include for-tablet {
        margin-top: 15px;
      }
    }
  }

  // Files
  &_files {
    margin-top: 30px;

    &-items {
      margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);

      @include for-laptop {
        margin-top: 0;
      }
      
      @include for-big-tablet {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    &-folder {
      grid-column: span 1;

      &-link {
        margin-top: 10px;
        display: block;
        text-decoration: underline;
        color: var(--orange);
        cursor: pointer;
        
        &:hover {
          text-decoration: underline;
          color: var(--orange);
        }
      }

      @include for-laptop {
        grid-column: span 2;
        margin-top: 20px;
      }

      @include for-small-tablet {
        grid-column: span 4;
      }
    }
  }

  // Bank 
  &_bank {
    margin-top: 20px;
    padding: 30px;
    width: 100%;
    border-radius: 10px;
    overflow: auto;
    background-color: var(--white);

    &-head {
      padding-bottom: 20px;
      display: flex;
      align-items: center;

      &-title {
        color: var(--gray-input);
      }
    }

    &-items {
      padding: 20px 0;
      display: flex;
      align-items: center;
      position: relative;

      &-status {
        height: 20px;

        &:is(.true) {
          background-image: url(../../../../assets/images/icons/true.svg);
          background-repeat: no-repeat;
        }
        &:is(.false) {
          background-image: url(../../../../assets/images/icons/false.svg);
          background-repeat: no-repeat;
        }
      }

      &::after {
        content: '';
        width: 100%;
        height: 1px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 1px;
        background-color: var(--gray);

        @include for-small-laptop {
          width: 900px !important;
        }
      }
    }

    &-num {
      min-width: 47px;
      margin-right: 50px;
    }
    &-ipot {
      min-width: 55px;
      margin-right: 50px;
    }
    &-voen {
      min-width: 97px;
      margin-right: 50px;
    }
    &-mat {
      min-width: 90px;
      margin-right: 50px;
    }
    &-subs {
      min-width: 64px;
      margin-right: 50px;
    }
    &-rass {
      min-width: 70px;
      margin-right: 50px;
    }
    &-banks {
      min-width: 190px;
      margin-right: 50px;
    }

    @include for-big-tablet {
      padding: 20px;
    }
  }

  // Map
  &_map {
    width: 100%;
    height: 422px;
    margin-top: 20px;
    border-radius: 10px;

    &-scheme {

      @include for-big-tablet {
        margin-top: 30px;
      }
    }

    @include for-tablet {
      height: 257px;
    }
  }
}

.form-switch .form-check-input {
  min-width: 37px;
  height: 20px;
  margin-right: 10px;
  background-image: url('../../../../assets/images/icons/checkbox-notactive.svg');
  background-position: left center;
  border: 2px solid #DCDCDC;
  box-shadow: inset 0px 4px 3px 1px rgba(0, 0, 0, 0.1),;
  border-radius: 2em;
  transition: background-position .15s ease-in-out;
  cursor: pointer;

  &:focus {
    background-image: url('../../../../assets/images/icons/checkbox-notactive.svg');
  }
  &:checked {
    background-color: var(--green);
    background-image: url('../../../../assets/images/icons/checkbox-active.svg');
    border: 2px solid #00AA40;
  }

  &:checked + .form-check-label {
    color: var(--black)
  }
}
.form-check-label {
  color: var(--gray-input);
  cursor: pointer;
}
.accordion-border {
  border-bottom: 1px solid var(--gray);
}
