@font-face {
  font-family: AireExterior;
  src: url(../../assets/fonts/AireExterior.ttf);
}
@font-face {
  font-family: Inter Bolt;
  src: url(../../assets/fonts/Inter-Bold.ttf);
}
@font-face {
  font-family: Inter Semi Bolt;
  src: url(../../assets/fonts/Inter-SemiBold.ttf);
}
@font-face {
  font-family: Inter Regular;
  src: url(../../assets/fonts/Inter-Regular.ttf);
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--bgc);
}

.header {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.calendar-mt3 {
  margin-top: 30px;
}

section {
  margin-top: 50px;

  @include for-tablet {
    margin-top: 20px;
  }
}

.title {
  margin-bottom: 20px;
}

.gray {
  color: var(--gray-input);
}

.through {
  text-decoration: line-through;
}

a {
  text-decoration: none;
  color: var(--white);

  &:hover {
    text-decoration: none;
    color: var(--white);
  }
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

input, textarea {
  &:focus {
    outline: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:focus {
    outline: none;
  }
}

.offcanvas-header {
  padding: 14px 8px;
  position: relative;
}
.offcanvas-items {
  padding: 40px 40px 0 40px;
}
.offcanvas-body {
  max-width: 100%;
}
.offcanvas-footer {
  background-color: var(--gray-header);
}


.cookie {
  padding: 40px 90px;
  border-radius: 10px;
  background-color: var(--gray-header);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-text {
    margin: 0 50px 0 70px;

    @include for-small-laptop {
      margin: 0 30px;
      text-align: justify;
    }

    @include for-big-tablet {
      margin: 10px 0 20px;
      text-align: center;
    }
  }

  @include for-big-tablet {
    padding: 20px;
    display: block;
    text-align: center;
  }
}