:root {
  // colors
  --bgc: #F6F4F0;
  --white: #fff;
  --blue: #00A0E2;
  --orange: #FF6000;
  --gray: #C2C2C2;
  --black: #131313;
  --green: #00AA40;
  --gray-header: #ECE8DF;
  --gray-input: #959595;
}