<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../assets/images/logo/favicon.svg" type="image/x-icon">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" href="../css/main.css">
  <title>Tetris</title>
</head>
<body>

  <div class="container">
    <!-- <div class="modal fade" id="changeStatus" tabindex="-1" aria-labelledby="changeStatus" aria-hidden="true"> -->
      <div class="modal-dialog modal-dialog-centered" style="max-width: 466px;">
        <div class="modal-content">
          <div class="modal-body modal-change-stage">
            <div class="modal-zaf-close" data-bs-dismiss="modal" aria-label="Close"></div>
              <div class="title_h4 modal-change-stage-text">Это подсказка при перехое на стадию. В ней будет какое-то описание того, что нужно сделать. или что должно было быть сделано</div>
              <div class="modal-zaf-body">
                <button class="btn_regular">Сменить этап</button>
              </div>
          </div>
        </div>
      </div>
    <!-- </div> -->

    <!-- <div class="modal fade" id="changeClientStatus" tabindex="-1" aria-labelledby="changeClientStatus" aria-hidden="true"> -->
      <div class="modal-dialog modal-dialog-centered" style="max-width: 466px;">
        <div class="modal-content">
          <div class="modal-body modal-zaf">
            <div class="modal-zaf-close" data-bs-dismiss="modal" aria-label="Close"></div>
              <div class="title_h4 modal-change-stage-text">Вы не можете перевести клиента на этот этап.</div>
              <div class="modal-zaf-body">
                <button class="btn_regular">Закрыть</button>
              </div>
          </div>
        </div>
      </div>
    <!-- </div> -->

    <!-- <div class="modal fade" id="chooseRole" tabindex="-1" aria-labelledby="chooseRole" aria-hidden="true"> -->
      <div class="modal-dialog modal-dialog-centered" style="max-width: 466px;">
        <div class="modal-content">
          <div class="modal-body modal-zaf">
            <div class="modal-zaf-close" data-bs-dismiss="modal" aria-label="Close"></div>
            <div class="title_h2">Иванов Иван Иванович</div>
            <form action="" class="modal-change-stage-mt1">    
              <div class="modal-choose-btn">
                <button class="btn_regular">Отменить приглашение</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    <!-- </div> -->

    <div class="cookie">
      <img src="../assets/images/icons/cookie.svg" alt="Icon">
      <div class="title_h5 cookie-text">Мы используем файлы cookie для улучшения работы сайта. Подробную информацию вы найдете в Политике конфиденциальности в отношении cookie-файлов. Продолжая просматривать этот сайт, вы соглашаетесь с условиями использования cookie–файлов.</div>
      <button class="btn_regular">Понятно</button>
    </div>
   </div>
  <div class="modal-change-stage">

  </div>

  <script src="../js/bootstrap.bundle.min.js"></script>
</body>
</html>
