.error {
  padding: 72px 0 156px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--white);

  &-subtitle {
    margin-top: 20px;

    @include for-tablet {
      margin-top: 0;
    }
  }

  &-btn {
    margin-top: 30px;

    @include for-tablet {
      margin-top: 20px;
    }
  }

  @include for-small-laptop {
    padding: 60px 30px;
  }

  @include for-tablet {
    padding: 40px 30px 50px;
  }

  @include for-mobile {
    padding: 40px 10px;
  }
}