.header {
// First Section
  &_fsec {
    background-color: var(--white);
    
    &-items {
      height: 94px;
      @include flex-all-sb;
    }
  }
  &_account {
    display: flex;

    &-select {
      padding: 8px 20px 10px;
      margin-right: 124px;
      color: var(--black);
      border: 1px solid var(--black);
      border-radius: 26px;
      @include title_h5;

      background: url(../../assets/images/icons/select-arrow.svg) no-repeat;
      background-position: 90% center;

      @include for-big-tablet {
        width: 100%;
        margin-right: 0;
        text-align: center;
      }
    }

    &-data {
      @include flex-all-sb;

      &-reg {
        text-align: center;
        cursor: pointer;
      }
    }

    &-img {
      margin-right: 16px;
      width: 39px;
      height: 39px;
      border: 1px solid var(--white);
      border-radius: 50%;
      box-shadow: 0px 4px 3px 1px rgba(0, 0, 0, 0.2);
    }

    &-out {
      margin-left: 26px;
    }

    &-mob {
      position: absolute;
      top: 40px;
      left: 40px;
    }

    @include for-big-tablet {
      display: none;
    }
  }

// Second Section
  &_ssec {
    background-color: var(--green);
  }
  &_pages {
    height: 52px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    color: var(--white);

    &-item {
      height: 100%;
      position: relative;
      cursor: pointer;

      @include flex-all-center;

      &:hover,
      &:active,
      &:is(.active) {
        background-color: var(--orange);
      }

      @include for-big-tablet {
        margin-top: 50px;
        color: var(--black);

        &:hover,
        &:is(.active) {
          color: var(--black);
          background-color: transparent;
          text-decoration: underline;
        }
      }
    }

    &-mob {
      margin: 10px 0 40px;
    }

    @include for-big-tablet {
      display: none;
    }
  }

// Third Section
  &_tsec {
    background-color: var(--gray-header);

    &-items {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: end;

      @include for-big-tablet {
        display: block;
        text-align: center;
      }
    }

    &-data {
      margin-right: 40px;
      color: var(--black);

      @include for-big-tablet {
        margin: 0 0 20px 0;
      }
    }

    &-heart {
      margin-left: 18px;
      position: relative;

      &-count {
        width: 18px;
        height: 18px;
        background-color: var(--orange);
        color: var(--white);
        border: none;
        border-radius: 50%;

        @include flex-all-center;
        @include title_h6;

        position: absolute;
        top: -10px;
        left: 10px;
      }

      @include for-big-tablet {
        position: absolute;
        top: 30px;
        right: 30px;

      }
    }

    &-mob {
      height: 170px;
      padding: 40px;
      background-color: var(--gray-header);
      position: relative;
    }

    @include for-big-tablet {
      display: none;
    }
  }

  &_mobile {
    display: none;

    @include for-big-tablet {
      display: block;
    }
  }

  &_divider {
    width: 1px;
    height: 24px;
    border-radius: 1px;
    background-color: var(--white);
    position: absolute;
    right: 0;
  }
}
