.input {
  &_label {
    margin-bottom: 10px;

    &:is(.not-active) {
      color: var(--red);
    }
  }

  &_small {
    width: 178px;
    padding: 15px 20px 14px;
    color: var(--gray-input);
    border: 1px solid var(--gray-input);
    border-radius: 5px;

    &:focus,
    &:hover {
      color: var(--black);
      border-color: var(--black);
    }

    &:focus::-webkit-input-placeholder,
    &:hover::-webkit-input-placeholder {
      color: var(--black)
    }


    &:is(.not-active) {
      color: var(--red);
      border: 1px solid var(--red);
    }
    &:is(.not-active)::-webkit-input-placeholder {
      color: var(--red);
    }

    @include title_h5;

    @include for-big-tablet {
      width: 139px;
    }

    @include for-tablet {
      width: 160px;
    }

    @include for-mobile {
      width: 139px;
    }
  }

  &_big {
    width: 100%;
    padding: 15px 20px 14px;
    color: var(--gray-input);
    border: 1px solid var(--gray-input);
    border-radius: 5px;

    @include title_h5;

    &:focus,
    &:hover {
      color: var(--black);
      border-color: var(--black);
    }

    &:focus::-webkit-input-placeholder,
    &:hover::-webkit-input-placeholder {
      color: var(--black)
    }

    &:is(.not-active) {
      color: var(--red);
      border: 1px solid var(--red);
    }
    &:is(.not-active)::-webkit-input-placeholder {
      color: var(--red);
    }
  }

  &_search {
    padding-left: 51px;
    background-image: url(../../../assets/images/icons/search.svg);
    background-repeat: no-repeat;
    background-position: 15px center;
  }
}

.select {

  &_parent {
    position: relative;
    height: 74px;
  }

  &_index {

    &-1 {
      z-index: 8;
    }

    &-2 {
      z-index: 7;
    }

    &-3 {
      z-index: 6;
    }

    &-4 {
      z-index: 5;
    }

    &-5 {
      z-index: 4;
    }

    &-6 {
      z-index: 3;
    }

    &-7 {
      z-index: 2;
    }

    &-8 {
      z-index: 1;
    }
  }
}

.custom-select {
  padding: 15px 20px 14px;
  color: var(--gray-input);
  border: 1px solid var(--gray-input);
  border-radius: 5px;

  &:focus,
  &:hover {
    color: var(--black);
    border-color: var(--black);
  }

  &:is(.not-active) {
    color: var(--red);
    border: 1px solid var(--red);
  }

  &-selected {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    cursor: pointer;
    background: url(../../assets/images/icons/arrow-gray.svg) no-repeat;

    &-big {
      background-position: 100% center;
    }

    &-small {
      background-position: 100% center;
    }
  }

  &-item {
    padding: 7px 0px;
    cursor: pointer;

    &:hover {
      color: var(--black);
      text-decoration: underline;
    }
  }

  &-checkbox {
    padding: 7px 0px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  &-small {
    width: 178px;

    @include for-big-tablet {
      width: 139px;
    }

    @include for-tablet {
      width: 160px;
    }

    @include for-mobile {
      width: 139px;
    }
  }

  &-big {
    width: 100%;
  }

  &-line {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    padding-top: 15px;

    &-big {
      height: 1px;
      width: 100%;
      background-color: var(--gray-input);
    }

    &-small {
      height: 1px;
      width: 100%;
      background-color: var(--gray-input);
    }
  }
}
