.input {
  &_label {
    margin-bottom: 10px;
  }

  &_small {
    width: 178px;
    padding: 15px 20px 14px;
    color: var(--gray-input);
    border: 1px solid var(--gray-input);
    border-radius: 5px;
  }

  &_small-select {
    width: 178px;
    padding: 15px 20px 14px;
    color: var(--gray-input);
    border: 1px solid var(--gray-input);
    border-radius: 5px;

    background: url(../../assets/images/icons/arrow-gray.svg) no-repeat;
    background-position: 90% center;
  }

  &_big-select {
    width: 100%;
    padding: 15px 20px 14px;
    color: var(--gray-input);
    border: 1px solid var(--gray-input);
    border-radius: 5px;

    background: url(../../assets/images/icons/arrow-gray.svg) no-repeat;
    background-position: 95% center;
  }
}

.custom-select {
  color: var(--gray-input);
  border: 1px solid var(--gray-input);
  border-radius: 5px;
  position: relative;

  &-selected {
    padding: 15px 20px 14px;
    cursor: pointer;
    background: url(../../assets/images/icons/arrow-gray.svg) no-repeat;
    background-position: 90% center;

    &-big {
      padding: 15px 20px 14px;
      cursor: pointer;
      background: url(../../assets/images/icons/arrow-gray.svg) no-repeat;
      background-position: 95% center;
    }
  }

  &-items {
    padding: 8px 0 15px;
  }

  &-item {
    padding: 7px 20px;
    cursor: pointer;

    &:hover {
      color: var(--black);
      text-decoration: underline;
    }
  }
  
  &_small {
    width: 178px;
  }

  &_big {
    width: 100%;
  }

  &-line {
    width: 80%;
    height: 1px;
    background-color: var(--gray-input);
    position: absolute;
    top: 44px;
    left: 10%;

    &-big {
      width: 90%;
      height: 1px;
      background-color: var(--gray-input);
      position: absolute;
      top: 44px;
      left: 5%;
    }
  }
}