.title {
  &_h1 {
    font-family: "AireExterior";
    font-size: 52px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: normal;

    @include for-tablet {
      font-size: 36px;
      line-height: 36px;
    }
  }

  &_h2 {
    font-family: "Inter Bolt";
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
    letter-spacing: normal;
  }

  &_h3 {
    font-family: "Inter Bolt";
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
    letter-spacing: normal;
  }

  &_h4 {
    font-family: "Inter Semi Bolt";
    font-size: 16px;
    font-weight: 600;
    line-height: 18.75px;
    letter-spacing: normal;
  }

  &_h5 {
    font-family: "Inter Regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    letter-spacing: normal;
  }

  &_h6 {
    font-family: "Inter Regular";
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    letter-spacing: normal;
  }
}

.link {
  font-family: "Inter Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-decoration: underline;
  letter-spacing: normal;
}
